<?xml version="1.0"?>
<launch>
    <arg name="type" default="7" />
    <!-- <arg name="tool_name" default="cepha"/> -->
    <arg name="tool_name" default="wobbler"/>
    <arg name="hardware_interface" default="PositionJointInterface"/> 
    <arg name="robot_name" default="iiwa"/>
    <!-- The name of the parameter under which the URDF is loaded -->

    <!-- <arg name="robot_description" default="robot_description"/> -->
    <!-- <param name="$(arg robot_description)" command="$(find xacro)/xacro  '$(find iiwa_description)/urdf/iiwa$(arg type).urdf.xacro'"/> -->

    <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find iiwa_cepha_description)/urdf/iiwa_cepha.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name)" /> -->

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find iiwa_wobbler_description)/urdf/iiwa_wobbler.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name)" />

    <param name="/iiwa/toolName" type="string" value="$(arg tool_name)" />

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="translator_node" pkg="test_us_control" type="translator_node" output="screen" />

    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find iiwa_description)/rviz/iiwa.rviz" required="true" />-->
    <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
</launch>