<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa">

  <!--iiwa-->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0.84" rpy="0 0 0" />
  </xacro:iiwa14>

	<link name="world">
		<inertial>
			<mass value="50.0"/>
			<com xyz="0 0 0"/>
			<inertia  ixx="0.01" ixy="0.00"  ixz="0.00" iyy="0.01" iyz="0.00" izz="0.01" />
		</inertial>
		<visual>
			<origin xyz="0 0 0.42" rpy="0 0 0"/>
			<geometry>
				<box size="0.68 0.605 0.84"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.42" rpy="0 0 0"/>
			<geometry>
				<box size="0.68 0.605 0.84"/>
			</geometry>
		</collision>
	</link>

	<gazebo reference="world">
		<static>true</static>>
	</gazebo>
	
	<!-- gamma camera -->
    <xacro:include filename="$(find gamma_camera_description)/urdf/gamma_camera.urdf.xacro" />
    <xacro:gamma_camera />
    
    <joint name="gamma_camera_joint" type="fixed">
        <parent link="iiwa_link_ee" />
        <child link = "gamma_camera_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />  
    </joint>
    
    <!--webcam on tail-->
    <!--<joint name="webcam_on_tail_joint" type="fixed">
        <parent link="gamma_camera_link" />
        <child link = "webcam_on_tail_link" />
        <origin xyz="0.0735 0.152 -0.045" rpy="${pi/2.0} ${pi/2.0} -${pi/2.0}" />  
    </joint>
    
    <property name="webcam_on_tail_box" value="0.18 0.1 0.1" />
    <property name="webcam_on_tail_translation" value="0 0 0.075" />
    <link name="webcam_on_tail_link">
        <visual>
            <origin xyz="${webcam_on_tail_translation}" rpy="0 0 0"/>
            <geometry>
                <box size="${webcam_on_tail_box}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="${webcam_on_tail_translation}" rpy="0 0 0"/>
            <geometry>
                <box size="${webcam_on_tail_box}"/>
            </geometry>
        </collision>
    </link>-->
	
</robot>
