<?xml version="1.0"?>
<launch>
    <!-- LAUNCH IMPLEMENTATION -->
    <rosparam command="load" file="$(find us_image_processing)/launch/config/config.yaml" />

  	<node name="us_image_processing" pkg="us_image_processing" type="image_processing_node_vanilla.py" output="screen" />

  	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
    
</launch>